<p align="center">
<img src="https://cdn.datacamp.com/main-app/assets/brand/datacamp-horizontal-rgb-b641f95b7bdd7560b554c761a0b4910f9619907dd823c0e41244ed72078723bf.svg" alt = "DataCamp icon" width="50%">
</p>
<br><br>

## **How to transition from Spreadsheets to Python**


Welcome to this live, hands-on training where you will learn how to upgrade from being a spreadsheet user to using Python. 

In most organizations across all industries, data fluency, technical skills and a data-driven mindset are becoming sought after skills that drive organizational success in the digital age. This shift has spurred on the adoption of tools that go beyond spreadsheets, which allow for more robust data analysis, visualization and presentation. In this notebook, you will learn:

* How to import Excel files into `pandas`.
* Filter, add new columns, and explore DataFrames.
* Apply common spreadsheets operations such as pivot tables and VLOOKUP in Python.
* Present data as visualizations using `matplotlib` and `seaborn`.

The dataset to be used in this webinar is an Excel file named `sales_data_dirty.xlsx` - it contains 4 sheets, each containing the following columns:

<br>



![alt](https://github.com/adelnehme/python-for-spreadsheet-users-webinar/blob/master/image.png?raw=true)

## **Getting started with the dataset**

In [0]:
# Import relevant packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
# Import the data
data = pd.ExcelFile('https://github.com/adelnehme/python-for-spreadsheet-users-webinar/blob/master/sales_data_dirty.xlsx?raw=true')

In [0]:
# Print the name of the sheets

In [0]:
# Parse sales data

# Print dimensions and glimpse

In [0]:
# Parse customers data 

# Print dimensions and glimpse

In [0]:
# Parse dates data

# Print dimensions and glimpse

In [0]:
# Parse employees data

# Print dimensions and glimpse

## **Better understanding our data**

In [0]:
# Understand missingness of sales data

In [0]:
# Understand distribution of sales data

In [0]:
# Make sure Status column has no other unique values

In [0]:
# Understand column types of dates and missingness

In [0]:
# Let's understand the degree of missingness in customers dataset

In [0]:
# How to find missing values?

## **Making our data analysis ready**

In [0]:
# Drop status column from sales

In [0]:
# Replace OnlineOrderFlag to offline and online

# Make sure it is the case

In [0]:
# Convert data columns to datetime while keeping only Y,m,d

In [0]:
# Make sure now into datetime

In [0]:
# Impute missing values based on key business assumptions

In [0]:
# Make sure no more missing data in ChannelType

In [0]:
# Combine first and last name in customers

In [0]:
# Combine first and last name in employees

## **Case studies**

### _Q1: How did we do in revenue over the years?_

Since we have revenue data for each `SalesOrderID` in the `sales` sheet - and the order date and ship date for each `SalesOrderID` in hte `dates` sheet - we can combine similar to how a VLOOKUP would work in spreadsheets with a DataFrame's `.merge()` method. 

<p align="center">
<img src="https://github.com/adelnehme/python-for-spreadsheet-users-webinar/blob/master/left_join.png?raw=True" alt = "DataCamp icon" width="50%">
</p>


An example of how to merge a DataFrame in pandas is included below, where we are merging `df_2` into `df_1` on a common column between them called `common_column`. The `how` argument determines which DataFrame to preserve - in this case it's `df_1` since it's on the **left**. This has the same logic as SQL joins as well.

`df_1.merge(df_2, on = 'common_column', how = 'left')`

In [0]:
# Merge data - the VLOOKUP of Excel

In [0]:
# Create column for year and month

To calculate the total revenue per year, we need to perform something like a PIVOT TABLE in spreadsheet softwares. In pandas, there's a variety of ways to acheive this - there is even a `.pivot_table()` method. However we will be using instead the `.groupby()` method which takes in as argument the column name being grouped by, and can be chained with other methods to compute interesting statistics. Here's an example of grouping by the column `col_A` of the example DataFrame `df_1` and computing the sum of the remaining columns:

`df_1.groupby('col_A').sum()`

In [0]:
# Extract revenue by year

There are many ways to perform visualizations in Python - the two most widely used visualization packages are `seaborn` (which is usually imported as `sns`) and `matplotlib.pyplot` (which is usually imported as `plt`). 

Without going into the details, we will be creating and customizing two types of visualizations in this notebook by using these functions:

- Barplots using `sns.barplot(x=,y=,data=)`
  - `x`: The column name to be used on the x-axis.
  - `y`: The column name to be used on the y-axis.
  - `data`: The data used to visualize
- Lineplots using `sns.lineplot(x=,y=,data=)`
  - `x`: The column name to be used on the x-axis.
  - `y`: The column name to be used on the y-axis.
  - `data`: The data used to visualize
- Setting figure labels by:
  - `plt.xlabel()` to set the x-axis label.
  - `plt.ylabel()` to set the y-axis label.
  - `plt.title()` to set the x-axis label.
  - `plt.xticks(rotation=)` to set the x-axis ticks with proper rotation
- Showing the plot with `plt.show()`

In [0]:
# Visualize it

In [0]:
# Is there seasonality?

In [0]:
# Visualize it

### _Q2: How is revenue divided by channel type overall and over time?_

Similar to how we merged the `sales` sheet with the `dates` sheet when answering Q1, we will be merging the `sales` sheet with the `customers` sheet to get the channel type, employee and customer names for each `SalesOrderID`.

In [0]:
# Merge sales and customer data

In [0]:
# Identify revenue and amount sold by channel

In [0]:
# Visualize

In [0]:
# Merge sales, dates and customers data

In [0]:
# Group by year by channel type

In [0]:
# Visualize

### _Q3: Who are the employees responsible for the most B2B sales overall and in 2013?_

In [0]:
# Group by employee performance

To be able to truly see the highest earning employees - we can use the `.sort_values()` method of a DataFrame. For example, we can sort `col_A` of the example DataFrame `df_1` as such:

`df_1.sort_values(by=,ascending=,inplace=)`

* `by` takes in the column name being sorted by
* `ascending` takes in `True` or `False` depending on whether we want to sort it by ascending order
* `inplace` takes in `True` or `False` depending on whether we want to save our changes in the same DataFrame being sorted.

In [0]:
# Sort it so we visualize it correctly

In [0]:
# Visualize

In [0]:
# Group by employee performance and year

In [0]:
# Sort to make it easier to visualize

In [0]:
# Who was the best last year?

In [0]:
# Visualize

### _Take-home question: Who were the highest earning (in compensation) employees in 2012?_

**Clues:**
- Compensation = Sales generated * Commission
- You need to use the all four sheets
- Sort your results by the amount of commission earned 

**Bonus points if:**
- You make your chart extra pretty
- Use syntax not covered in this session